

  html {
      background-color: #ffffff;
    }
    body{
      padding: 10px;
      margin: 10px;

    }

    * {
      box-sizing: border-box;
      font-family: sans-serif;
    }


    input[type=text] {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 5;
      box-sizing: border-box;
      font-size: 15px
    }

    .active {
      background-color: #4CAF50;
    }


/* Create two equal columns that floats next to each other */
.column {
float: left;
width: 100%;
padding: 15px;
height: 100%;

}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
padding: 10px;
}

.dropbtn {
background-color: grey;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: lightgrey;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
